body {
	background-color:#F1F1F1;
}
.container-fluid{
	min-width: 400px;
	position: relative;
	float: left;
	max-width: 890px;
	width: fit-content;
	border:none;
	border-radius:5px;
	display: inline;
	background-color: #415057;
}

.filter-input {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	background-color: -moz-field;
	font: -moz-field;
	font: -webkit-small-control;
	font-size: 1em;
	min-height: 1em;
	overflow-y: hidden;
	min-width: 400px;
	width: fit-content;
	max-width: 800px;
	background-color: #415057;
	padding: 10px;
	height: 25px;
	white-space: nowrap;
	border:none;
	border-radius:5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	float: left;
}

.filter-addButton {
	font-size: 12px;
	transition: all linear 0.15s;
	border-radius: 3px;
	background-color: #d1cfcf;
	border: none;
	padding: 4px 9px 3px 9px;
	position: relative;
	margin-top: 11px;
	margin-left: 7px;
	margin-right: 7px;
}

.filter-addButton i::before{
	font-weight: 600;
	font-size: 16px;
	font-color:#273238;
}


.filter-single-line br {
	display: none;
}

.filter-single-line * {
	display: inline;
	white-space: nowrap;
}

.filter-input::-webkit-scrollbar {
	width: 7px;
	height: 8px;
}

.filter-input::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}

.filter-input::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #72848D;
}

.filter-dropdown {
	padding: 15px;
	width: 200px;
	border: 1px solid #AFAFAF;
	border-radius: 3px;
	display: none;
	position: absolute;
}


.filter-group-AND {
	background: #C2C0CB;
	border: solid 1px #C2C0CB;
	border-radius: 2px;
	padding: 1px 2px 4px 2px;
	margin-left: 3px;
	margin-right: 7px;
	font-size: 0.9em;
	color: #FFFFFF;
}

.filter-group-OR {
	background: #C2C0CB;
	border: solid 1px #C2C0CB;
	padding: 1px 2px 4px 2px;
	padding: 2px;
	margin-left: 3px;
	margin-right: 7px;
	font-size: 0.9em;
	color: #FFFFFF;
}

.filter-group-AND::before {
	content: "AND";
	font-weight: 800;
	color: #314047;
	padding: 2px;
}

.filter-group-OR::before {
	content: "OR";
	font-weight: 800;
	color: #314047;
	padding: 2px;
}

.filter-models{
	float: left;
}

.filter-models-after::after {
	content: "WHERE";
	font-weight: 800;
	color: #314047;
	padding: 2px;
}

.filter-models-select {
	font-size: 0.9em;
	padding: 3px 16px 4px 3px;
	line-height: 1;
	border: 0;
	border-radius: 5px;
	background-color: #72848D;
	margin-left: 7px;
	color:#f1f1f1;
	position:relative;
}

.filter-models-options {
	display: none;
	position:absolute;
	background-color: #fff;
	margin: 0;
	padding: 0px;
	box-shadow: 2px 2px 20px -3px #888888;
	left: 0px;
}

.ui-menu {
	background-color: #fff!important;
	margin: 0!!important;
	padding: 0px!!important;
	box-shadow: 2px 2px 20px -3px #888888!!important;
	border: none!important;
	top:50px!important;
}
.ui-menu-item {
	background: #fff!important;
	color:#273238!!important;
	padding: 20px 30px 10px 15px!important;
	text-align: left!important;
	font-weight: 100!important;
	font-size: 0.8em!important;
	border: none!important;

}
.ui-menu-item:hover{
	background:#E8E8E8!important;
	border: none!important;
}

.ui-state-focus{
	margin: 0px!important;
}


.filter-models-options:before {
	position: absolute;
	top: -24px;
	width: 0px;
	margin: 0 auto;
	left: 0;
	right: 0;
	content:"";
	border-color:transparent transparent #fff transparent;
	border-style:solid;
	border-width:12px 12px 12px 12px;
}

.filter-models-options li {
	background-color: #fff;
	color:#273238;
	display:block;
	padding: 20px 30px 10px 15px;
	text-align: left;
}

.filter-models-options li:hover {
	background-color:#E8E8E8;
	display:block;
}


.filter-global-group {
	line-height: 1;
	border: 0;
	margin-right: 30px;
	margin-left: 10px;
}

.filter-global-group select{
	background-color: #A3B93A;
	color:#f1f1f1;
	border-radius: 5px;
	border: none;
	padding: 4px 0px 4px 3px;
	margin-right: 5px;
}


.filter-rule-dropdown {
	background-color: #415057;
	padding: 5px;
	line-height: 1;
	border: 0;
	border-radius: 5px;
	margin-left: 5px;
}

.list {
	position: absolute;
	margin-top: 20px;
	margin-left: -150px;
}

.list>ul {
	/*display: block !important;*/
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #AFAFAF;
	border-radius: 3px;
	padding: 40px;
}

.list>ul>li {
	display: list-item !important;
}

.btn {
	color: #fff;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0;
	font-weight: 400;
	padding: 1px 5px;
	font-size: 0.9em;
	line-height: 1.5;
	border-radius: 3px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.remove {
	background-color: #d9534f;
	border-color: #d43f3a;
	margin-right: 7px;
}

.add {
	background-color: #449d44;
	border-color: #398439;
}

.invalid {
	border: 1px solid rgba(219, 0, 0, 1);
	box-shadow: 0 0 5px rgba(219, 0, 0, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
}

.valid {
	border: 1px solid rgba(110, 219, 0, 1);
	box-shadow: 0 0 5px rgba(110, 219, 0, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
}

input[type="text"]{
	background-color: #415057;
	color:#f1f1f1;
	padding: 6px 5px 4px 5px;
	border:none;
	border-radius: 5px;
}

.filter-model-rule{
	background-color: #A3B93A;
	color:#f1f1f1;
	margin-left: 7px;
	border-radius: 5px;
	border: none;
	padding: 4px 0px 4px 3px;
}
.filter-model-rule option{
	background-color:#afc930;
	color:#f1f1f1;
}

.ui-tooltip, .arrow:after {
    background: white;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: 0.6em "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
